body {
    background-color: var(--bg);
    color: #EEEEEE;
    font-family: 'Open Sans';
    padding: 10px;
}

:root {
    --bg: #34355a
}

.grid {
    display: flex;
    flex-wrap: nowrap;
}

.column {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    align-items: center;
}

#canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    width:100%;
    height:100%;
}

.node {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 3px #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    margin: 20px;
    background-color: var(--bg);
}

.light {
    border: solid 3px #FF0000;
}

.lightActive {
    background-color: #FF0000;
    
}

.selected {
    background-color: #acac30;
}

.power {
    background-color: #00AA00;
    color: #111111;
}